@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~font-awesome/css/font-awesome.min.css";
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: #EBEEF2;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

/* Hide scrollbar in Firefox */
/* Note: These classes may not work in all versions of Firefox */
.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.font-2xl{
  font-size: 25px;
}
.font-lg{
  font-size: 18px;
}

.box-shadow{
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.774);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.font-sm{
  font-size: 15px;
  font-weight: 600;
}


.left-2{
  left: -20px;
  top:8px;
}
.mt_20{
  margin-top: -20px;
}